*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

/* styles of header  */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: solid;
    color: black;
    height: 100px;
    /*width: inherit;   /*IMPORTANTE*/
    display: flex; /* IMPORTANTE */
    
}

header div{
    height: auto;
    width: 26.2em;
}

.header-Left{
    border: solid;
    color: black;
    /*
    height: 100px;
    width: 50px;
    */
}

.header-center{
    border: solid;
    color: red;
    /*
    height: 100px;
    width: 50px;
    */
}

.header-right{
    border: solid;
    color: blue;
    /*
    height: 100px;
    width: 50px;
    */
}

/* Style of carousel */

.carousel{
    color: black;
    height: 500px;
    width: 100%;
    padding-top: 100px;

    position: relative;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images  img{
    height:396px;
    width: auto;
}

.carousel button{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}